{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {  font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    
    <button type="button" class="btn btn-success"  name="ajout" id="ajout">Ajouter un épisode</button>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th style="text-align: center; vertical-align: middle; " >Nom <a class="link-primary" id="sort_nom">Default</a></th>
                <th style="text-align: center; vertical-align: middle;">Date de diffusion <a class="link-primary" id="sort_date">Default</a></th> 
                <th style="text-align: center; vertical-align: middle;">Serie <a class="link-primary" id="sort_date">Default</a></th>
                <th style="text-align: center; vertical-align: middle;">Saison</th>
                   
            </tr>
            <tr>
                    
                <th style="text-align: center; vertical-align: middle; " >
                    <input type="text" id="titre" name="titre">
                </th>
                <th style="text-align: center; vertical-align: middle; " >
                        <input type="date" id="dateStart" name="dateStart">
                        <input type="date" id="dateEnd" name="dateEnd">
                </th>
                <th style="text-align: center; vertical-align: middle; " >
                    <select id="ep" class="form-select">
                        <option value="vide">Vieullez sélectionner une série</option>
                        {% for uneSerie in series %}
                            <option value="{{uneSerie.id}}">{{uneSerie.nom}}</option>
                        {% endfor %}
                    </select>
                </th>
                    
            </tr>
        </thead>
        <tbody id='episodes'>
                
              
        </tbody>
    </table>
    
    <ul class="pagination justify-content-center" >
        <nav>
            <ul class="pagination" id="pages">
               
            </ul>
        </nav>
    </ul>
</nav>
</div>

{% endblock %}
{% block javascripts %}
<script src="/Javascript/gestion.js"></script>
<script>
    tbody=document.getElementById('episodes')
    function verif(e){
        bool=true
        
        if(window.nom!=""){
        bool=bool && e['nom'].includes(window.nom)
        }
        if(window.GlobalTarget!="vide"){
        
        bool=bool && e['serieId']==window.GlobalTarget
        }
        
       
        if(window.dateStart!=="" && window.dateEnd!==''){
            temp=new Date(e['date']['date'])
            bool=bool && temp.getTime()>window.dateStart.getTime() && temp.getTime()<window.dateEnd.getTime()
            
            
        }
    
        return bool
        
        
    }

    $(document).ready(function(){
        $.ajax({
            url: "menuJSON",
            context: document.body,
            dataType:'json',
            
            
            success: function(element){
                
                window.episodes=element
                document.getElementById('ep').children[0].setAttribute('selected','selected')
                document.getElementById('titre').value=""
                window.nom=""
                document.getElementById('dateStart').value=""
                document.getElementById('dateEnd').value=""
                window.dateStart=""
                window.dateEnd="" 
                window.GlobalTarget="vide"
                window.episodesFiltre=[]
                trie('serieId',false)            
                
            }
        })
   
    
    })

    $('#ep').change(function(e){
        target=e.target.value
        window.GlobalTarget=target
       
    
    
        modif(0,10,1,window.episodes)
        
        
     
    })

    $('#ajout').click(function(){
        console.log(document.getElementById('ajout'))
        a=document.createElement('a')
        a.setAttribute('class','btn btn-primary')
        a.href="test?input1=test"
        a.innerHTML="test"
        document.getElementById('ajout').appendChild(a)
        
    })

    $('#titre').keyup(function(e){
        
        target=e.target.value
    
        window.nom=target
        
    
        
        
        modif(0,10,1,window.episodes)
        
        

    })

    $('#dateStart').change(function(e){
        
        target=e.target.value
        date=new Date(target)
        window.dateStart=date
        /*subDate=target.split('-')
        window.date=subDate[2]+'/'+subDate[1]+'/'+subDate[0]*/
        
        //console.log(date)
    
        modif(0,10,1,window.episodes)
        
        
        
        

    })
    $('#dateEnd').change(function(e){
        
        target=e.target.value
        date=new Date(target)
        window.dateEnd=date
        /*subDate=target.split('-')
        window.date=subDate[2]+'/'+subDate[1]+'/'+subDate[0]*/
        
        //console.log(date)
    
        modif(0,10,1,window.episodes)
        
        
        
        

    })

    $('#sort_nom').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('nom',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('nom',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('serieId',false)
            this.innerHTML="Default"
        }
        
    })
    $('#sort_date').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('date',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('date',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('serieId',false)
            this.innerHTML="Default"
        }
        
    })
</script>
{% endblock %}